{% extends base_template|default:"base.html" %}

{% load i18n plata_tags %}

{% block title %}{% trans "Order summary" %} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{% trans "Order summary" %}</h1>

{% include "plata/_order_overview.html" %}

<form method="post" action=".">{% csrf_token %}
<input type="hidden" name="_discountsform" value="1">
<h2>{% trans "Discounts" %}</h2>
{% form_errors discountsform %}

<table>
{% form_item discountsform.code %}
<tr>
    <td></td>
    <td>
        <input type="submit" name="save" value="{% trans "Add voucher" %}">
    </td>
</tr>
</table>
</form>

<form method="post" action=".">{% csrf_token %}
<h2>{% trans "Payment and order confirmation" %}</h2>
{% form_errors confirmationform %}

<table>
{% form_item confirmationform.terms_and_conditions %}
{% form_item confirmationform.payment_method %}
<tr>
    <td></td>
    <td><button type="submit">{% trans "Proceed to payment" %}</button></td>
</tr>
</table>
</form>
{% endblock %}
